In [8]:
import numpy as np
import statsmodels.tsa.stattools as stm
import scipy.stats as sc
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sb
from sklearn.cluster import KMeans, DBSCAN
import findspark
from pyspark.sql import SparkSession

def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

findspark.init()
spark = SparkSession.builder.appName("Price").getOrCreate()

def sql_to_df(command: str) -> pd.DataFrame:
    return spark.sql(command).toPandas()

In [9]:
price_data = spark.read.csv(path="../../data/clean_data/clean_car_price.csv", header=True, inferSchema=True)

In [10]:
price_data.createOrReplaceTempView("price")

In [19]:
price_data.count()

6925

In [ ]:
'''
price with:

- km  => scatterplot
- year => lineplot
- ostalo => barplot ili boxplot


- postotci zastupljenosti => piechart


'''

In [27]:
price_data.show()

+---+--------------------+----+------------------+---------+------+-----------+------------+------------+
|_c0|                name|year|     selling_price|km_driven|  fuel|seller_type|transmission|       owner|
+---+--------------------+----+------------------+---------+------+-----------+------------+------------+
|  0|Maruti Swift Dzir...|2014|            4950.0|   145500|Diesel| Individual|      Manual| First Owner|
|  1|Skoda Rapid 1.5 T...|2014|4069.9999999999995|   120000|Diesel| Individual|      Manual|Second Owner|
|  2|Honda City 2017-2...|2006|            1738.0|   140000|Petrol| Individual|      Manual| Third Owner|
|  3|Hyundai i20 Sport...|2010|            2475.0|   127000|Diesel| Individual|      Manual| First Owner|
|  4|Maruti Swift VXI ...|2007|            1430.0|   120000|Petrol| Individual|      Manual| First Owner|
|  5|Hyundai Xcent 1.2...|2017|            4840.0|    45000|Petrol| Individual|      Manual| First Owner|
|  6|Maruti Wagon R LX...|2007|            1056.0|   175000|   LPG| Individual|      Manual| First Owner|
|  7|  Maruti 800 DX BSII|2001|494.99999999999994|     5000|Petrol| Individual|      Manual|Second Owner|
|  8|    Toyota Etios VXD|2011|            3850.0|    90000|Diesel| Individual|      Manual| First Owner|
|  9|Ford Figo Diesel ...|2013|            2200.0|   169000|Diesel| Individual|      Manual| First Owner|
| 10|Renault Duster 11...|2014|            5500.0|    68000|Diesel| Individual|      Manual|Second Owner|
| 11|       Maruti Zen LX|2005|1011.9999999999999|   100000|Petrol| Individual|      Manual|Second Owner|
| 12|Maruti Swift Dzir...|2009|            3080.0|   140000|Diesel| Individual|      Manual|Second Owner|
| 13|Maruti Swift 1.3 VXi|2007|            2200.0|    80000|Petrol| Individual|      Manual|Second Owner|
| 14|Maruti Wagon R LX...|2009|1979.9999999999998|    90000|Petrol| Individual|      Manual|Second Owner|
| 15|Mahindra KUV 100 ...|2016|            4400.0|    40000|Petrol| Individual|      Manual| First Owner|
| 16|Maruti Ertiga SHV...|2016|            8558.0|    70000|Diesel| Individual|      Manual|Second Owner|
| 17|Hyundai i20 1.4 C...|2012|            5500.0|    53000|Diesel| Individual|      Manual|Second Owner|
| 18|      Maruti Alto LX|2002|            1650.0|    80000|Petrol| Individual|      Manual|Second Owner|
| 19|Hyundai i20 2015-...|2016|            7480.0|   100000|Diesel| Individual|      Manual| First Owner|
+---+--------------------+----+------------------+---------+------+-----------+------------+------------+

In [29]:
filtered = sql_to_df('''select fuel, seller_type, count(seller_type) as sel_cnt from price 
                        group by fuel, seller_type
                        order by  sel_cnt asc ''')
filtered

     fuel       seller_type  sel_cnt
0     LPG            Dealer        2
1  Diesel  Trustmark Dealer        3
2  Petrol  Trustmark Dealer       24
3     LPG        Individual       36
4     CNG        Individual       56
5  Petrol            Dealer      273
6  Diesel            Dealer      405
7  Petrol        Individual     2780
8  Diesel        Individual     3346

In [12]:
# spark.stop()